body {
	background-color: dodgerblue;
}

.top {
	border-bottom: 5px ridge orange;
	border-top: 5px ridge orange;
}

.bottom {
	border-bottom: 5px ridge orange;
	border-top: 5px ridge orange;
}


.duckybanner {
	background-image: url("images/screaming-duck-50pct.png");
	height: 180px;
	margin: 0 auto;
	background-color: aliceblue;
}

.banner {
	height: 180px;
	margin: 0 auto;
	background-color: tomato;
	border: 5px ridge tomato;
}

.water {
/*	background-image: url("images/wave2.png");
*/	height: 400px;
	margin: 0 auto;
  	width: 100%;
  	background-color: dodgerblue;
}

h1 {
	font-family: 'Chewy', cursive;
	text-align: center;
	font-size: 100px;
	color: aliceblue;
}

.inventory {
	width: 50%;
	height: 170px;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	font-size: 35px;
	background-color: darkorange;
	color: white;
	border-radius: 15px;
	border: 5px ridge darkorange;
	padding: 5px;
	margin: 0 auto;
	padding: 20px;
}

.item {
	font-size: 20px;
	text-align: center;
}

.duck {
	height: 69px;
	width: 78px;
	background-image: url("images/cartoon2.png");
}

.noduck {
	height: 69px;
	width: 78px;
}

@media all and (max-width: 1100px) {
	.top {
		display: none;
	}

	.banner {
		height: auto;
		padding-bottom: 35px;
		width: 100%;
	}

	.inventory {
		font-size: 20px;
	}

	.item {
		font-size: 15px;
	}

	.colhide {
		display: none;
	}

}

@media all and (max-width: 550px) {
	.top {
		display: none;
	}

	.banner {
		height: auto;
		padding-bottom: 20px;
		width: 100%;
	}

	.banner h1 {
		font-size: 70px;
	}

	.water {
		height: 400px;
	}
}