body {
	background-color: dodgerblue;
}

.orangeborder div {
	border-bottom: 5px ridge orange;
	border-top: 5px ridge orange;
}

.bottom {
	border-bottom: 5px ridge orange;
	border-top: 5px ridge orange;
}

.duckybanner {
	background-image: url("images/screaming-duck.png");
	height: 180px;
	margin: 0 auto;
	background-color: aliceblue;
}

.banner {
	height: 180px;
	margin: 0 auto;
	background-color: aliceblue;
}

.water {
	/*background-image: url("images/wave2.png");*/
	height: 420px;
	margin: 0 auto;
  	width: 100%;
  	background-color: dodgerblue;
}

h1 {
	font-family: 'Chewy', cursive;
	text-align: center;
	font-size: 100px;
	color: tomato;
}

.inventory {
	width: 50%;
	height: 170px;
	font-family: 'Chewy', cursive;
	text-align: center;
	font-size: 40px;
	background-color: darkorange;
	color: ivory;
	border-radius: 20px;
	font-family: 'Fredoka One', cursive;
	padding: 5px;
	margin: 0 auto;
}

.item {
	font-size: 20px;
}

@media all and (max-width: 1180px) {
	.top {
		display: none;
	}

	.banner {
		height: auto;
		padding-bottom: 35px;
		width: 100%;
	}
}

@media all and (max-width: 550px) {
	.top {
		display: none;
	}

	.banner {
		height: auto;
		padding-bottom: 20px;
		width: 100%;
	}

	.banner h1 {
		font-size: 70px;
	}

	.water {
		height: 470px;
	}
}

/*
font-family: 'Chewy', cursive;
font-family: 'Fredoka One', cursive;